html,body{
    height: 100%;
    font-family: "Microsoft YaHei UI";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

ul li ,
dl dd dt{
    list-style: none;
}
ol, ul{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover,
a:focus,
a:active{
    color: inherit;
    text-decoration: none;
}

button:active,
button:focus{
    outline: none;
}

#top{
    min-height: 100%;
}
#main-content{
    padding-bottom: 160px;
}
/*头部*/
#head{
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(52, 73, 94, 0.4);
    padding:0;
    height: 80px;
    width: 100%;
}

#head .nav{
    width: 1220px;
    text-align: center;
    height: 80px;
    margin: 0 auto;
}
#head .nav .logo-wrap{
    float: left;
    line-height: 80px;
    margin-right: 30px;
}
#head .nav .logo-wrap img{
    vertical-align: middle;
}

#head .nav .nav-menu{
    float: right;
    vertical-align: top;
    display: inline-block;
    color: #FFFFFF;
    cursor: pointer;
}

#head .nav .nav-menu .nav-menu-item{
    display: inline-block;
    margin-right:-5px;
}
#head .nav .nav-menu .nav-menu-item a{
    padding: 20px 30px;
    display: inline-block;
    text-align: center;
    height: 80px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#head .nav .nav-menu .item-on {
    background:rgba(52, 73, 94, 0.7);
}
#head .nav .nav-menu .item-on a{
    color: #F57A16 ;
}

#head .nav .nav-menu .nav-menu-item:hover{
    background:rgba(52, 73, 94, 0.7);
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
}
#head .nav .nav-menu a:hover{
    color:  #F57A16;
    transition:all 0.3s;
    -webkit-transition: all 0.3s;
}
#head .nav .nav-menu .nav-menu-item a p:first-child{
    font-size: 16px;
    margin-bottom: 4px;
}
#head .nav .nav-menu .nav-menu-item a p:last-child{
    font-size:14px;
}
/*头部end*/



#banner{
    width: 100%;
}
#banner .banner-img{
    display: inline-block;
    width: 100%;
    min-width: 1220px;
}


/*主体内容*/

.content-wrap{
    padding: 60px 0;
}
.content-wrap:nth-child(2n-1){
    background: #FFFFFF;
}
.content-wrap:nth-child(2n){
    background: #E9E7E7;
}

/*页脚*/


#footer{
    position: relative;
    background: -webkit-linear-gradient(rgba(38, 35, 101, .9), rgba(11, 13, 74, .9));
    background: -o-linear-gradient(rgba(38, 35, 101, .9), rgba(11, 13, 74, .9));
    background: -moz-linear-gradient(rgba(38, 35, 101, .9), rgba(11, 13, 74, .9));
    background: linear-gradient(rgba(38, 35, 101, .9), rgba(11, 13, 74, .9));
    clear: both;
    margin-top: -160px;
}

#footer .footer-content{
    height: 160px;
    margin: 0 auto;
    text-align: center;
}

#footer .footer-content .logo-wrap,
#footer .footer-content .footer-list,
#footer .footer-content .contact-us{
    display: inline-block;
    color: #FFFFFF;
    vertical-align: top;
    margin-right: 100px;
}

#footer .footer-content .logo-wrap{
    line-height: 160px;
}
#footer .footer-content .logo-wrap img{
    vertical-align: middle;
}

#footer .footer-content .footer-list,
#footer .footer-content .contact-us{
    box-sizing: border-box;
    text-align: left;
    line-height: 30px;
    padding-top: 30px;
}
#footer .footer-content .contact-us p{
    margin: 0;
}
#footer .footer-content .footer-list{
    cursor: pointer;
    font-size: 16px;
}
#footer .footer-content .footer-list li a:hover{
    color: #E95513;
}

#footer .footer-content .contact-us{
    font-size: 14px;
    color: #E4E4E4;
}

#footer .footer-content .contact-us p:first-child{
    color: #FFFFFF;
    font-size: 16px;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}